<!DOCTYPE html>
<html>
  <head>
    <title>Stars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico">
    <script type="text/javascript">
      window.las_vegas = "<%= image_url('las_vegas_icon.jpg')  %>";
      window.login_bg = "<%= image_url('login_background2.jpg')  %>";
      window.rest_bg = "<%= image_url('rest_background.jpg')  %>";
      window.sf_icon = "<%= image_url('sf_icon.jpg')  %>";
      window.steak_home = "<%= image_url('steak_home.jpg')  %>";
      window.wy_icon = "<%= image_url('wyoming_icon.jpg')  %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
